.banners{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bannerContainer{
    margin-top: 3vw;
    cursor: pointer;
    text-decoration: underline;


}
.bannerPhoto{
    height: 12vw;
margin-right: 2vw;
margin-left: 2vw;

}
.bannerText{
text-align: center;
font-size: 1.5vw;
color:black;

}