@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary: #39A9DB;
    --warning: #F9DC5C;
    --danger: #E84855;
    --success: #ABE188;
    --white: #fdfdfd;
    --dark: #181717;
    --yellow: #F1C400;
    --blue: #00274C;
  
  }

.body_text{
    font-family: "Segoe UI";
    font-size: 20.5px;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

