@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.class0{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: .5vw;
    padding-bottom: .5vw;

    padding-left: .5vw;
    padding-right: .5vw;
    font-family: "Abel";
     display: flex;
background-color: lightgray;

margin-top: 1vw;
margin-bottom: 1vw;

}
.class1{
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    font-family: "Abel";
     display: flex;
     padding-bottom: .5vw;
     background-color:#E8E8E8;
     margin-top: 1vw;
margin-bottom: 1vw;

width: inherit;


}
.nameHolder{
margin-right: 0;
width: 100%;
padding-right: 2vw;


}
.headshot{
    height: 9.5vw;
    width:8vw;
    margin-right:1vw;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: .2vw;


    float: right;

}
.name{
    float:right;

    font-size: 3.4vw;

}

.hometown{
    float:left;
    font-size: 3.6vw;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
    white-space: pre-wrap;
}
.breakBottom{
    clear: both;
        
    }
 
    @media (max-width:900px){
        .name{
            font-size: 4.5vw;
    
        }
       
    .hometown{
        font-size: 4.7vw;
    }
   
    }