@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.footer {
    margin-top: .5vw;
    height: auto;
    background-color:#00274C;
  border-top: #F1C400 .6vw solid;
  border-bottom: #00274C .6vw solid;

  }
  .center{
   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    
  }
  .photo{
    margin-bottom: 0vw;
    width: 2vw;
    align-content: center;
    margin-left: .4vw;
    margin-right: .4vw;   
  }
  .photo:hover{
    cursor: pointer;
  }
  .legal{
    font-size: 1vw;
    color:#a3a3a3;
    font-family: Roboto;
text-align: center;
margin-top: .8vw;
   
  }