@import url('https://fonts.googleapis.com/css?family=Strait&display=swap');
.gameHolder0{
    background-color: lightgrey;
    margin-left: 5vw;
    margin-right: 5vw;
    
}
.gameHolder1{
    background-color:#E8E8E8;
    margin-left: 5vw;
    margin-right: 5vw;



   
}
.rivalLogo{
    margin-top: 1vw;
    width:9vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    float: left;

}
.toTheLeft{
    float: left;
    font-size: 3vw;
    font-family: "Strait";
    margin-top: 1vw;
    width: max-content;

}
.baseText{
    font-size: 2.8vw;
    font-family: "Strait";

}
.toTheRight{
    float: right;
    font-size: 3vw;
    margin-right: 1vw;

    font-family: "Strait";
    margin-top: 1vw;
    width: auto;

}
.scoreContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.breakBottom{
    clear: both;
}
.internalText{
    float: left;

}

.imageResult{
    width: 7vw;
    margin-right: 0vw;
    margin-left: 1vw;


}
.playbackLive{
    width: max-content;
    margin-top: 1vw;
    margin-bottom: 1vw;

    float: right;
    margin-right: 1vw;
    font-family: "Strait";
    font-size: 1.8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;

}
.playbackRecording{
    width: max-content;
    margin-top: 1vw;
    margin-bottom: 1vw;

    float: right;
    margin-right: 1vw;
    font-family: "Strait";
    font-size: 1.8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.youtubeStream{
    width: 1.8vw;
    margin-left: 1vw;
}