@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

  .link{
    text-decoration: none;
  }
 
.navbar {
    height: 4vw;
    background-color:#00274C;
    border-top: whitesmoke .22vw solid;
    margin-top: .5vw;
    border-bottom: transparent;
    color: whitesmoke;
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    transition: transform 0.3s ease;
  }
  @media (max-width:899px){
    .navbar {
     display: none;
    }
  }
 


  .holder {
    background-color:#00274C;
    z-index: 2;


  }
  .blockM{
    width: 10vw;
    padding-right: 1vw;
    padding-top: .8vw;

    height: auto;
    cursor: pointer;



}
.Line{
    border-left: .5vw solid white;
  height: 8vw;
  margin-top: 1vw;
  cursor: pointer;

}
.titlePolo{
  color: white;
  line-height: 50%;
  font-size:4.2vw;
margin-top: 1vw;
margin-bottom: 3vw;
letter-spacing: 50%;


}
  .logoHolder{
    margin-left: auto;
    margin-right: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    
height: 9vw;
  }

  @media (max-width:900px){
    .titlePolo{
      color: white;
      line-height: 80%;
      font-size:4.8vw;
    margin-top: 0vw;
    margin-bottom: 3vw;
    letter-spacing: 50%;
    
    
    }
    .Line{
      border-left: .5vw solid white;
    height: 11vw;
    margin-top: 1vw;
    cursor: pointer;
  
  }
    .blockM{
      width: 15vw;
      padding-right: 1vw;
      padding-top: .8vw;
  
      height: auto;
      cursor: pointer;
  
  
  
  }
    .logoHolder{
      margin-left: auto;
      margin-right: auto;
      display: flex;
  
      justify-content: center;
      align-items: center;
      
  height: 13vw;
    }
  }
  .navbar:hover {
    transform:scaleY(1.05);
    
  }
  .space{
    padding-left: 1vw;
height:9vw;
margin-top: 2vw;
align-items: center;
font-family: 'Strait';
cursor: pointer;


padding-top: auto;
    padding-bottom: auto;
    justify-content: center;


  }

 
  .line-1{
    position: absolute;
    width: max-content;
    color: white;
    height: auto;
    margin-top: 2vw;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 3.2vw;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 backwards,
             blinkTextCursor 800ms steps(44) 10 forwards normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 37vw;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@media (max-width: 900px){
  @keyframes typewriter{
    from{width: 0;}
    to{width: 43.2vw;}
  }
  .line-1{
    position: absolute;
    width: max-content;
    color: white;
    height: auto;
    margin-top: 2vw;
    margin: 0 auto;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 3.7vw;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

}
@media (max-width:899px){
  .logoHolder{
    display: none;
  }
}