
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.body_text{
    font-family: "Abel";
    font-size: 1.4vw;
    padding-top: 1.3vw;
    padding-bottom: 2vw;

    margin-left: 2vw;
    margin-right: 2vw;
    white-space: pre-wrap;

}
.bigbody_text{
    font-family: "Abel";
    font-size: 2.4vw;
    padding-top: 1.3vw;
    padding-bottom: 2vw;

    margin-left: 2vw;
    margin-right: 2vw;
    white-space: pre-line;

}
@media (max-width:1100px){
    .bigbody_text{
        font-size: 3vw;
    }
    .body_text{
        font-size: 2vw;
    }
}
@media (max-width:650px){
    .bigbody_text{
        font-size: 4vw;
    }
    .body_text{
        font-size: 3vw;
    }
}
@media (max-width:415px){
    .bigbody_text{
        font-size: 4.5vw;
    }
    .body_text{
        font-size: 3.5vw;
    }
}

.title{
    float: left;
    padding-left: 1%;
    font-size: 1.7vw;
    margin-top: .5vw;
   }


   .date{
    float: right;
    font-size: 1.7vw;
    padding-right: 1%;
    margin-top: .5vw;
   
   }
   .breakBottom{
    clear: both;
        
    }
.index0{
    background-color: lightgrey;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1.3vw;
}
.index1{
    background-color:#E8E8E8;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1.3vw;


}
@media (max-width:1100px){
    .bigbody_text{
        font-size: 3vw;
    }
    .body_text{
        font-size: 2vw;
    }
    .title{
        font-size: 2.2vw;
       }
       .date{
        font-size: 2.2vw;      
       }
}
@media (max-width:725px){
    .bigbody_text{
        font-size: 4vw;
    }
    .body_text{
        font-size: 2.75vw;
    }
    .title{
        font-size: 3.2vw;
       }
       .date{
        font-size: 3.2vw;      
       }
}
@media (max-width:450px){
    .bigbody_text{
        font-size: 4.5vw;
    }
    .body_text{
        font-size: 3.5vw;
    }
    .title{
        font-size: 4.2vw;
       }
       .date{
        font-size: 4.2vw;      
       }
}