

.body_text{
    font-family: "Segoe UI";
    font-size: 1.4vw;
    padding-top: 1.3vw;
    padding-bottom: 2vw;

    margin-left: 2vw;
    margin-right: 2vw;
    white-space: pre-line;

}
.bigbody_text{
    font-family: "Segoe UI";
    font-size: 2.4vw;
    padding-top: 1.3vw;
    padding-bottom: 2vw;

    margin-left: 2vw;
    margin-right: 2vw;
    white-space: pre-line;

}

.title{
    float: left;
    padding-left: 1%;
    font-size: 1.7vw;
    margin-top: .5vw;
   }


   .date{
    float: right;
    font-size: 1.7vw;
    padding-right: 1%;
    margin-top: .5vw;
   
   }
   .breakBottom{
    clear: both;
        
    }
.index0{
    background-color: lightgrey;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1.3vw;
}
.index1{
    background-color:#E8E8E8;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1.3vw;


}