.question-title{
    width: 100%;
    font-size: 2vw;
    padding-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.input[type=text]{
    width: 40vw;
    box-sizing: border-box;
    border-color: #00274C;
    border-radius: 4px;
    font-size: 1.5vw;
    font-family: "Segoe UI";
    border-spacing: 2px;
    padding: .5vw;
    margin-left: 2vw;
}

.dropdown_format{
    width: 40vw;
    box-sizing: border-box;
    border-color: #00274C;
    border-radius: 4px;
    font-size: 1.5vw;
    font-family: "Segoe UI";
    padding-bottom: .5vw;
    margin-left: 2vw;
}

.form_format{
    margin-left: 2vw;
    padding-bottom: 2vw;
}