@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

.backBanner{
    background-color: #00274C;
    font-family: "Jost";
    margin-right: 5vw;
    margin-left: 5vw;
    color: white;

}
.backBannerSpace{
    background-color: #00274C;
    font-family: "Jost";
    margin-right: 5vw;
    margin-left: 5vw;
    color: white;
    margin-top: 2vw;

}
.awardsText{
    font-size: 2vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: 2vw;
}
@media (max-width:900px){
    .awardsText{
        font-size: 2.5vw;
    }
}
@media (max-width:600px){
    .awardsText{
        font-size: 3vw;
    }
}
@media (max-width:450px){
    .awardsText{
        font-size: 3.5vw;
    }
}