@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

.tournamentName{
    font-size: 2vw;
    width: inherit;
text-align: center;
line-height: 2vw;
    font-family: "Jost";

}
.tournamentPlace{
    font-size: 1.3vw;
    width: inherit;
text-align: center;
line-height: 2vw;
    font-family: "Jost";

}
.tournamentDate{   
    font-size: 1.3vw;
    width: max-content;
    margin-left: 2vw;



}
.bannerHolde{
    background-color: #F1C400;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    padding-top: .4vw;
    padding-bottom: .4vw;
    align-items: center;
    justify-content: space-between;

    font-family: "Jost";

}
.hub{
height: 2vw;
margin-bottom: 0;
vertical-align: middle;
margin-right: 1vw;
}

.arena{
font-size: 1.3vw;

}

.rightHand{
    vertical-align: middle;
cursor: pointer;
margin-right: 2vw;
}
