@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
.body{
    font-family: "Abel";
}
.question-title {
  width: max-content;
  font-size: 1.8vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  vertical-align: middle;
}
.drop-title {
  width: max-content;
  font-size: 1.8vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  vertical-align: middle;
}

.questionBlock {
  width: max-content;
}
.lineHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .lineHolder {
    display: block;
  }
  .questionBlock {
    margin-bottom: 2vw;
    height: 40px;
    width: auto;
  }
  .optionalGoAway {
    display: none;
  }
  .question-title {
    font-size: 15px;
  }
  .drop-title {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .drop-title {
    font-size: 4vw;
  }
}
.dropHolder {
  display: flex;
  justify-content: left;
  align-items: center;
  width: max-content;
}

.userName {
  width: 18vw;

  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.userName::placeholder {
  color: lightgrey;
}
.message {
  width: 100%;
  height: 20vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  resize: none;
}
.message2 {
  width: 100%;
  height: 8vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  resize: none;
}
.message::placeholder {
  color: lightgrey;
}
.message2::placeholder {
  color: lightgrey;
}

.mail {
  width: 22vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.mail::placeholder {
  color: lightgrey;
}
.priorTeams {
  width: 30vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.priorTeams::placeholder {
  color: lightgrey;
}

.experience {
  width: 5vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.experience::placeholder {
  color: lightgrey;
}

.phone {
  width: 10vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.phone::placeholder {
  color: lightgrey;
}
.messageTitle {
  width: 40vw;
  box-sizing: border-box;
  border-color: #00274c;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  font-family: "abel";
  border-spacing: 2px;
  padding: 0.5vw;
  margin-left: 1vw;
}
.messageTitle::placeholder {
  color: lightgrey;
}
.someSpace {
  height: 2vw;
}

@media (max-width: 650px) {
  .dropdown_format_false {
    width: 15vw;
  }
  .dropdown_format_true {
    width: 15vw;
  }
}
.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/

  width: max-content;
}
.breakBottom {
  clear: both;
}
.dropBoxtrue {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  color: lightgrey;

  display: block;
  width: 40vw;
  float: right;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  line-height: 2.5vw;
  margin-left: 1vw;
  padding-left: 0.5vw;
  background-color: #ffffff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}
.dropBoxfalse {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Add some styling */
  display: block;
  width: 40vw;
  float: right;
  border-radius: 0.2vw;
  font-size: 1.5vw;
  line-height: 2.5vw;
  margin-left: 1vw;
  padding-left: 0.5vw;
  color: black;
  background-color: #ffffff;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

.selectdiv:after {
  content: "▼";
  font-size: 1vw;
  color: black;
  right: 0.8vw;
  padding-left: 0.5vw;
  padding-right: 0vw;
  padding-top: 0.4vw;

  padding-bottom: 0.4vw;
  position: absolute;
  pointer-events: none;
}
@media (max-width: 650px) {
  .dropBoxtrue {
    width: 22vw;
  }
  .dropBoxfalse {
    width: 22vw;
  }
}

.formHolder {
  margin-right: 4vw;
  margin-left: 4vw;
}
.emptySelection {
  color: lightgrey;
  background-color: white;
}
.realOptions {
  color: black;
  background-color: white;
}
.note {
  font-size: 1.5vw;
}
.checkBox {
  margin-left: 2vw;
}
.checkTitle {
  margin-left: 0.25vw;
  font-size: 1.5vw;
}
.smallText {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}
.appear {
  animation-name: appear;
  animation-duration: 0.8s;
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
.hidden {
  display: none;
}
.done {
  background-color: darkgray;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  appearance: none;
  font-size: 1.2vw;

  border-radius: 0.2vw;
}
@media (max-width: 1200px) {
    .done {
      
        
        font-size: 2vw;
      
      }
}

@media (max-width: 650px) {
    .done {
      
        padding-right: 1vw;
        padding-left: 1vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        appearance: none;
        font-size: 15px;
      
        border-radius: 0.2vw;
      }
  .robotCheck {
    font-size: 14px;
  }
  .smallText {
    font-size: 8px;
    margin-bottom: 0px;
  }

  .userName {
    width: 185px;
    font-size: 0.8em;
  }

  .message {
    width: 100%;
    height: 100px;


    font-size: 0.7em;
  }
  .message2 {
    width: 100%;
    height: 80px;
    font-size: 0.7em;

  }

  .mail {
    width: 230px;
    font-size: .8em;
  
  }
  .phone {
    width: 120px;
    font-size: .8em;
  }
 
.messageTitle{
    font-size: .6em;
    width: 220px;
}

  .priorTeams {
    width: 200px;
    font-size: .6em;
  }
 
  .experience {
    width: 50px;
    font-size: .8em;
  }
   
}
@media (max-width: 370px) {
    .priorTeams{
        width: 50vw;
    }
}


@media (max-width: 300px) {
    .mail {
        width: 70vw;
      
      }
      .userName {
        width: 50vw;
      
      }
}