@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

:root {
  --primary: #39A9DB;
  --warning: #F9DC5C;
  --danger: #E84855;
  --success: #ABE188;
  --white: #fdfdfd;
  --dark: #181717;
  --yellow: #F1C400;
  --blue: #00274C;
}

.sectionContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color:var(--yellow);
  height: 5vw;
  color: var(--blue);
  padding-right: 10px;
  margin-top:2vw;
  margin-bottom:1vw;
}
.sectionContainerPlease {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color:var(--yellow);
  height: 5vw;
  color: var(--blue);
  padding-right: 10px;
  margin-top:2vw;
  margin-bottom:0vw;
}
.sectionHeaderText{
  font-size: 3vw;
  padding-top: .3vw;
  padding-left: 2vw;
  font-family: "Jost";
}
@media (max-width:900px){
  .sectionHeaderText{
    font-size: 4vw;
    padding-bottom: 1vw;
  }
  .sectionContainer{
  height:7vw;
}
.sectionContainerPlease{
  height:7vw;
}
}
@media (max-width:500px){
  .sectionHeaderText{
    font-size: 5vw;
    padding-bottom: 1vw;
  }
.sectionContainer{
  height:9vw;
}
.sectionContainerPlease{
  height:9vw;
}
}
/* .sectionContainer > * {
  
} */