/* Global Style to make styling easier */
@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

.dropdown-container {
  display: inline-block;
  font-family: "Jost";

  width: 10vw;
  margin-right: 2vw;
  cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 3vw;
      
}

.dropdown-header {
  height: inherit;
  width: inherit;
  text-align: center;

}

.dropdown-header-title {
  font-size: 2.5vw;
  color:#F1C400;
background-color: #00274C;
border-radius: .5vw;
}

.dropdown-list {
  list-style: none;
  width: inherit;
  height:inherit;
  position: absolute;
  background-color: #F1C400;
}

.truedropdown-list-item {
  background-color: #f1c400;
  border-top: solid black .01vw;
  border-bottom: solid black .01vw;

  padding-top: .01vw;
  font-size: 1.5vw;
  text-align: center;
  color: #00274C;
}

.falsedropdown-list-item {
  background-color: #f1c400;
  border-top: solid black .01vw;
  border-bottom: solid black .01vw;

  padding-top: .01px;
  font-size: 1.5vw;
  text-align: center;
  color: white;
}
.falsedropdown-list-item:hover {
  background-color: #00274C;
  
}


@media (max-width:900px){
  .dropdown-container{
    width: 15vw;
  }
  .dropdown-header-title{
    font-size: 3.5vw;
  }
  .truedropdown-list-item{
    font-size: 2.5vw;
    padding-bottom: .1vh;
    padding-top: .1vh;

  }
.falsedropdown-list-item{
  font-size: 2.5vw;
  padding-bottom: .1vh;
  padding-top: .1vh;
  position: relative;
}
}
@media (max-width:500px){
  .dropdown-container{
    width: 16vw;
  }
  .dropdown-header-title{
    font-size: 4.1vw;
  }
  .truedropdown-list-item{
    font-size: 2.9vw;
    padding-bottom: .2vh;
    padding-top: .2vh;

  }
.falsedropdown-list-item{
  font-size: 2.9vw;
  padding-bottom: .2vh;
  padding-top: .2vh;
}
}