
:root{
    --yellow: #f1c400;
    --blue: #00274C;
  
  }

.streamingAlert{
    font-size: 2vw;
    cursor: pointer;
    text-decoration: underline var(--blue);
    text-align: center;
    display: block;

    color:var(--blue);
}
.streamingAlert:visited {

    color:var(--blue);
}  
.champ{
    margin-top: 2.5vw;
}
.companies{
    margin-top: 0vw;
    margin-left: auto;
    margin-right: auto;

    display:block;
    width: 70vw;
    
}
.format{
    margin-left: 2vw;
    margin-right: 2vw;
}
.alumni{
    text-align: center;
    color:var(--blue);
    font-size: 3vw;
    padding-left: 15vw;  
      padding-right: 15vw;

}
.pictureSlides{
    width: 90vw;
    height: 30vw;
}

.dotsHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .2vw;
    padding-bottom: .2vw;


}


.dotsS{
    height: 1.4vw;
    width: 1.4vw;
    cursor: pointer;
    margin-left: .4vw;
    margin-right: .4vw;
    border-radius: 100%;
    background-color: #00274C;


}
.dotsN{
    height: 1.4vw;
    width: 1.4vw;
    cursor: pointer;
    margin-left: .4vw;
    margin-right: .4vw;

    border-radius: 100%;
border:.2vw solid #a3a3a3;
}



.arrow{
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
border-radius: 100%;
padding:.5vw;
}
.arrow:hover{
    background-color: #a3a3a3;

}
.arrow:active{
    background-color: #a3a3a3;
    padding:.65vw;


}
@media (max-width:1200px){
    .arrow{
        width: 3vw;
        height: 3vw; 
    }
    
    .arrow:active{
        padding:.7vw;
    }
}

.slideshowContainer{
    width: 90vw;
    margin: 0;
    padding: 0;
    height: 30vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: .2vw;
    margin-bottom: .4vw;


}
.totalTop{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:900px){
    .arrow{
       display: none;
    }
    .pictureSlides{
        width: 100vw;
        height: 33vw;
    }
    .slideshowContainer{
        width: 100vw;
        
        height: 33vw;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    
    
    }
    .alumni{
        font-size: 4vw;
    }
    .companies{
        margin-top:2vw;
        margin-bottom:.5vw;

        width: 80vw;
    }
    
}
