
:root{
    --yellow: #f1c400;
    --blue: #00274C;
  
  }

.streamingAlert{
    font-size: 2vw;
    cursor: pointer;
    text-decoration: underline var(--blue);
    text-align: center;
    display: block;

    color:var(--blue);
}
.streamingAlert:visited {

    color:var(--blue);
}  
.champ{
    margin-top: 2.5vw;
}
.companies{
    margin-top: 0vw;
    margin-left: auto;
    margin-right: auto;

    display:block;
    width: 60vw;
    
}
.format{
    margin-left: 2vw;
    margin-right: 2vw;
}
.alumni{
    text-align: center;
    color:var(--blue);
    font-size: 3vw;
    padding-left: 20vw;  
      padding-right: 20vw;

}
.pictureSlides{
    width: 90vw;
    height: 30vw;
}

.dotsHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots{
    height: 1vw;
    width: 1vw;
    cursor: pointer;
    margin-left: .4vw;
    margin-right: .4vw;

}
.arrow{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
border-radius: 100%;
padding:.5vw;
}
.arrow:hover{
    background-color: #a3a3a3;

}
.arrow:active{
    background-color: #a3a3a3;
    padding:.64vw;


}
.slideshowContainer{
    width: 90vw;
    margin: 0;
    padding: 0;
    height: 30vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: .2vw;
    margin-bottom: .4vw;


}
.totalTop{
    display: flex;
    justify-content: center;
    align-items: center;
}