
:root{
    --yellow: #f1c400;
    --blue: #00274C;
  
  }

.streamingAlert{
    font-size: 2vw;
    cursor: pointer;
    text-decoration: underline var(--blue);
    text-align: center;
    display: block;

    color:var(--blue);
}
.streamingAlert:visited {

    color:var(--blue);
}  
.champ{
    margin-top: 2.5vw;
}
.companies{
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;

    display:block;
    width: 60vw;
    
}

.alumni{
    text-align: center;
    color:var(--blue);
    font-size: 3vw;
    padding-left: 20vw;  
      padding-right: 20vw;

}